*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #14213d;
}

ul,
h1{
    background-color: rgb(0, 0, 0);
}
h1{
    color: #fca311;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
}

ul{
    color:#fca311
}

ol{
    color:white;
}

li{
    font-size: 35px;

}

#gif{
    width: auto;
    height: 500px;
}

